<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
<!--过滤器-->
	<filter>
		<filter-name>url</filter-name>
		<filter-class>com.bandgear.apfree.filter.URLFilter</filter-class>
	</filter>
<!--  初始化-->
  <servlet>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>com.bandgear.apfree.controller.InitServlet</servlet-class>
    <init-param>
    	<param-name>log4j</param-name>
    	<param-value>D:\MyWorkSpace\.metadata\.me_tcat\webapps\wifidogServer\WEB-INF\classes\log4j.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
	
<!--     wifidog接口                   -->
  <!--                    auth                   -->
  <servlet>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>com.bandgear.apfree.controller.wifidog.AuthServlet</servlet-class>
  </servlet>
<!--                     ping                      -->
  <servlet>
    <servlet-name>PingServlet</servlet-name>
    <servlet-class>com.bandgear.apfree.controller.wifidog.PingServlet</servlet-class>
  </servlet>
<!--                       portal                   -->
  <servlet>
    <servlet-name>PortalServlet</servlet-name>
    <servlet-class>com.bandgear.apfree.controller.wifidog.PortalServlet</servlet-class>
  </servlet>
<!--                       login                  -->
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.bandgear.apfree.controller.wifidog.LoginServlet</servlet-class>
  </servlet>
  
  
  <servlet>
    <servlet-name>LoginValidateServlet</servlet-name>
    <servlet-class>com.bandgear.apfree.controller.wifidog.LoginValidateServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.bandgear.apfree.controller.client.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RouterServlet</servlet-name>
    <servlet-class>com.bandgear.apfree.controller.client.RouterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeviceServlet</servlet-name>
    <servlet-class>com.bandgear.apfree.controller.client.DeviceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HostServlet</servlet-name>
    <servlet-class>com.bandgear.apfree.controller.client.HostServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IpWhiteServlet</servlet-name>
    <servlet-class>com.bandgear.apfree.controller.client.IpWhiteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MacBlackServlet</servlet-name>
    <servlet-class>com.bandgear.apfree.controller.client.MacBlackServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MacWhiteServlet</servlet-name>
    <servlet-class>com.bandgear.apfree.controller.client.MacWhiteServlet</servlet-class>
  </servlet>







  
  
  
	<filter-mapping>
		<filter-name>url</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
  <servlet-mapping>
    <servlet-name>PingServlet</servlet-name>
    <url-pattern>/wifidog/ping/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InitServlet</servlet-name>
    <url-pattern>/init</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/wifidog/auth/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PortalServlet</servlet-name>
    <url-pattern>/wifidog/portal/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/wifidog/login/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginValidateServlet</servlet-name>
    <url-pattern>/loginValidate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/api/wifidog_user/get_all</url-pattern>
    <url-pattern>/api/wifidog_user/add</url-pattern>
    <url-pattern>/api/wifidog_user/delete</url-pattern>
    <url-pattern>/api/wifidog_user/modify</url-pattern>
    <url-pattern>/api/wifidog_user/active</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RouterServlet</servlet-name>
    <url-pattern>/api/get_status</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeviceServlet</servlet-name>
    <url-pattern>/api/client_list</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HostServlet</servlet-name>
    <url-pattern>/api/client_op/host/get</url-pattern>
    <url-pattern>/api/client_op/host/add</url-pattern>
    <url-pattern>/api/client_op/host/delete</url-pattern>
    <url-pattern>/api/client_op/host/modify</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IpWhiteServlet</servlet-name>
    <url-pattern>/api/client_op/ipwhite/get</url-pattern>
    <url-pattern>/api/client_op/ipwhite/add</url-pattern>
    <url-pattern>/api/client_op/ipwhite/delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MacBlackServlet</servlet-name>
    <url-pattern>/api/client_op/macblack/get</url-pattern>
    <url-pattern>/api/client_op/macblack/add</url-pattern>
    <url-pattern>/api/client_op/macblack/delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MacWhiteServlet</servlet-name>
    <url-pattern>/api/client_op/macwhite/get</url-pattern>
    <url-pattern>/api/client_op/macwhite/add</url-pattern>
    <url-pattern>/api/client_op/macwhite/delete</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
